<body>
    @*<script>$(function(){alert(99)});</script>*@@*<script>jquery-3.1.0</script>*@<script type="text/javascript" src="/public/jquery-3.1.0.min.js"></script>
<script>
    //var formName = document.getElementById('formName').innerHTML;

    var rawFile = new XMLHttpRequest();
//    rawFile.open("GET", 'api/' + formName + '.html', false);
    rawFile.open("GET", '/eeitt-frontend/form', false);
    rawFile.onreadystatechange = function() {
        if(rawFile.readyState === 4) {
            if(rawFile.status === 200 || rawFile.status == 0) {
                document.write(rawFile.responseText);
                document.close();
            }
        }
    }
    rawFile.send(null);
</script>
</body>
