@import uk.gov.hmrc.eeitt.models.EnrollmentDetails
@import uk.gov.hmrc.play.frontend.auth.AuthContext
@import uk.gov.hmrc.play.views.html.helpers._

@(enrollmentForm: Form[EnrollmentDetails], callbackUrl: String, groupId: String)(implicit request: Request[_], authContext: AuthContext)

@sidebarContent = {
  <section id="side-bar-section" class="section--branded section--blue-top">
  @login_status(authContext)
  </section>
}

@main_template("Enrollment Verification", sidebarLinks = Some(sidebarContent)) {
  <header class="page-header">
    <h1>Submit your tax return online</h1>
  </header>

  <p>
    Enter your 15-digit registration number and business postcode to get started.
  </p>

  <form action=@uk.gov.hmrc.eeitt.controllers.routes.EnrollmentVerificationController.submitEnrollmentDetails(callbackUrl).url method="POST" class="js-form" autocomplete="off" novalidate="novalidate">

    @csrf_token()

    @enrollmentForm.globalError.map { error =>
      <div class="flash error-summary error-summary--show">
        @error.message
      </div>
    }

    <fieldset class="form-field-group@if(enrollmentForm("registrationNumber").hasErrors){ form-field-group--error}">
      <label for="arn">
        Registration Number
        @errorInline("registrationNumber", "Please enter a valid registration number", Seq("optional-extra-css-classes"))
        <input
        type="text"
        name="registrationNumber"
        id="registrationNumber"
        value="@enrollmentForm("registrationNumber").value"
        class="form-control form-control--block"
        required
        pattern="^[a-zA-Z0-9]{15}$"
        >
      </label>
    </fieldset>

    <fieldset class="form-field-group@if(enrollmentForm("postcode").hasErrors){ form-field-group--error}">
      <label>
        Business postcode
        @errorInline("postcode", "Please enter your business postcode", Seq("optional-extra-css-classes"))
        <input
        type="text"
        name="postcode"
        id="postcode"
        value="@enrollmentForm("postcode").value"
        class="form-control form-control--block"
        data-msg-required="Please enter a postcode."
        >
      </label>
    </fieldset>

    <input type="hidden" name="groupId" value="@groupId" />

    <fieldset class="form-field-group">
      <input id="accessForm" type="submit" class="button" value="Continue">
    </fieldset>

  </form>

  <section class="subsection--wide">
    <h2>Problems signing in</h2>

    <details class="details">
      <summary id="registration-link-container" role="button" aria-expanded="false">Don't have a registration number</summary>
      <div class="details__inner" id="details-content-1">
        <p class="panel-indent">
          <a href="https://www.gov.uk/topic/business-tax">Choose your relevant tax and then follow the registration instructions.</a>
        </p>
      </div>
    </details>

    <details class="details">
      <summary role="button" aria-expanded="false">Chat to an HMRC advisor online</summary>
      <div class="details__inner" id="details-content-2">
        <p class="panel-indent">
          <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact">Contact a HMRC advisor</a>
        </p>
      </div>
    </details>
  </section>
}