@import uk.gov.hmrc.eeitt.models.AgentEnrollmentDetails
@import uk.gov.hmrc.play.frontend.auth.AuthContext
@import uk.gov.hmrc.play.views.html.helpers._

@(enrollmentForm: Form[AgentEnrollmentDetails], callbackUrl: String, groupId: String)(implicit request: Request[_], authContext: AuthContext)

@sidebarContent = {
  <section id="side-bar-section" class="section--branded section--blue-top">
    @login_status(authContext)
  </section>
}

@main_template("Enrollment Verification", sidebarLinks = Some(sidebarContent)) {
  <header class="page-header">
    <h1>Register to submit forms online</h1>
  </header>

  <p>
    Enter your agent reference number and business postcode.
  </p>

  <form action=@uk.gov.hmrc.eeitt.controllers.routes.EnrollmentVerificationController.submitAgentEnrollmentDetails(callbackUrl).url method="POST" class="js-form" autocomplete="off" novalidate="novalidate">

  @csrf_token()

    @enrollmentForm.globalError.map { error =>
      <div class="flash error-summary error-summary--show">
        @error.message
      </div>
    }

    <fieldset class="form-field-group@if(enrollmentForm("arn").hasErrors){ form-field-group--error}">
      <label for="arn">
        Agent Reference Number
          @errorInline("arn", "Please enter your agent reference number", Seq("optional-extra-css-classes"))
        <input
          type="text"
          name="arn"
          id="arn"
          value="@enrollmentForm("arn").value"
          class="form-control form-control--block"
          required
          data-msg-required="Please enter a valid reference number"
        >
      </label>
    </fieldset>

    <fieldset class="form-field-group@if(enrollmentForm("postcode").hasErrors){ form-field-group--error}">
      <label>
        Agent's business postcode
          @errorInline("postcode", "Please enter your business postcode", Seq("optional-extra-css-classes"))
        <input
          type="text"
          name="postcode"
          id="postcode"
          value="@enrollmentForm("postcode").value"
          class="form-control form-control--block"
          required
          data-msg-required="Please enter a postcode."
        >
      </label>
    </fieldset>

    <input type="hidden" name="groupId" value="@groupId" />

    <input type="submit" class="button" value="Submit" />

  </form>

  <section class="subsection--wide">
    <h2>Problems signing in</h2>

    <details class="details">
      <summary id="registration-link-container" role="button" aria-expanded="false">
        Don't have an agent reference number
      </summary>
      <div class="details__inner" id="details-content-1">
        <p class="panel-indent">
          placeholder
        </p>
      </div>
    </details>

    <details class="details">
      <summary role="button" aria-expanded="false">
        Client doesn't have an Air Passenger Duty registration number
      </summary>
      <div class="details__inner" id="details-content-2">
        <p class="panel-indent">
          placeholder
        </p>
      </div>
    </details>

    <details class="details">
      <summary role="button" aria-expanded="false">Chat to an HMRC advisor online</summary>
      <div class="details__inner" id="details-content-3">
        <p class="panel-indent">
          placeholder
        </p>
      </div>
    </details>

    <details class="details">
      <summary role="button" aria-expanded="false">Get help with this page</summary>
      <div class="details__inner" id="details-content-3">
        <p class="panel-indent">
          placeholder
        </p>
      </div>
    </details>

  </section>
}